.container {
  height: 100vh;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80%;
}

.button {
  border: 2px solid #C7A97F;
  padding: 0.7rem 1.7rem;
  background: inherit;
  color: inherit;
  border-radius: 0.5rem;
  font-size: 1.7rem;
  font-weight: 300;
}
